<div class="page-header">
  <h1>Dish #<%= @dish.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Category</dt>
  <dd><%= @dish.category_id %></dd>

  <dt>Name</dt>
  <dd><%= @dish.name %></dd>

  <dt>Restaurant</dt>
  <dd><%= @dish.restaurant_id %></dd>

</dl>
