<div class="page-header">
  <h1>Restaurant #<%= @restaurant.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd><%= @restaurant.name %></dd>

  <dt>Neighborhood</dt>
  <dd><%= @restaurant.neighborhood %></dd>

  <dt>Description</dt>
  <dd><%= @restaurant.description %></dd>

</dl>
